* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}
table {
    margin: 10px;
    width: 165px;
    height: 165px;
    border: 1px solid;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
tr {}
td {
    width: 50px;
    height: 50px;
    border: 1px solid;
    text-align: center;
}